@font-face {font-family:OpenSans;src:url("../fonts/OpenSans-Regular.ttf");}
*{box-sizing:border-box;font-family:'OpenSans',sans-serif;}
html,body{padding:0px;margin:0px;width:100%;height:100%;background-image:url('../imgs/images/back.png');background-position:center;background-size:cover;}
a,a:active{text-decoration:none;color:inherit;}
header{position:fixed;width:100%;height:60px;background-color:white;box-shadow:0px 0px 8px #666666;}
#topo{width:1144px;height:60px;margin:0px auto;}
#topo #logo_topo{float:left;height:36px;padding:12px;}
#topo #logo_topo img{height:36px;}
#topo nav{float:right;}
#topo nav ul{margin:0px;padding:0px;}
#topo nav ul li{display:inline-block;margin:19px;font-size:16px;}
#topo nav #emp li{display:inline-block;margin:3px;font-size:16px;padding:8px 16px 8px 16px;background-color:#652C90;border-radius:5px;color:white;}
#topo nav ul li:hover{color:#652C90;}
#topo nav #emp li:hover{color:white;}
#topo nav ul .social_topo{margin:13px;float:right;height:34px;width:34px;border:1px solid #652C90;border-radius:50%;}
#topo nav ul .social_topo:hover{background-color:#652C90;}
#topo nav ul .social_topo img{height:24px;margin:4px;}
#home{float:left;width:100%;height:700px;background: rgba(19,152,240,0.7);
background: -moz-linear-gradient(45deg, rgba(19,152,240,0.7) 0%, rgba(101,44,144,0.5) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(19,152,240,0.7)), color-stop(100%, rgba(101,44,144,0.5)));
background: -webkit-linear-gradient(45deg, rgba(19,152,240,0.7) 0%, rgba(101,44,144,0.5) 100%);
background: -o-linear-gradient(45deg, rgba(19,152,240,0.7) 0%, rgba(101,44,144,0.5) 100%);
background: -ms-linear-gradient(45deg, rgba(19,152,240,0.7) 0%, rgba(101,44,144,0.5) 100%);
background: linear-gradient(45deg, rgba(19,152,240,0.7) 0%, rgba(101,44,144,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1398f0', endColorstr='#652c90', GradientType=1 );}
.content{margin:auto;width:1144px;margin-top:50px}
#home #left_home{float:left;width:60%;height:600px;margin-top:25px;}
#home #left_home #frase_home{display:table;width:100%;height:400px;}
#home #left_home #frase_home #frase{display:table-cell;font-weight:bold;vertical-align:middle;width:100%;font-size:3em;text-align:center;}
#home #left_home #buttons_home{width:90%;height:200px;margin-left:5%;}
#home #left_home #buttons_home .button_store{float:left;cursor:pointer;width:47%;border:2px solid #652C90;padding:3% 10% 3% 10%;transition:background 0.5s;}
#home #left_home #buttons_home .button_store:hover{background-color:#652C90;}
#home #left_home #buttons_home .button_store img{width:100%;margin-top:8px;}
#home #left_home #buttons_home .button_store:first-child{margin-right:5%;}
#home #right_home{float:right;width:40%;}
#home #right_home #mockup_home{display:block;height:600px;margin:0px auto;margin-top:25px;}
#sobre{float:left;width:100%;background-color:white;}
.title_section{float:left;padding-right:64px;border-bottom:2px solid #652C90;font-size:2em;line-height:2em;}
.desc_section{float:left;width:90%;margin:5%;color:#666666;text-align:center;}
#sobre #carroussel{float:left;width:100%;height:500px;background-color:red;margin-bottom:5%;}
#time{float:left;width:100%;background: rgba(19,152,240,1);
background: -moz-linear-gradient(45deg, rgba(19,152,240,1) 0%, rgba(101,44,144,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(19,152,240,1)), color-stop(100%, rgba(101,44,144,1)));
background: -webkit-linear-gradient(45deg, rgba(19,152,240,1) 0%, rgba(101,44,144,1) 100%);
background: -o-linear-gradient(45deg, rgba(19,152,240,1) 0%, rgba(101,44,144,1) 100%);
background: -ms-linear-gradient(45deg, rgba(19,152,240,1) 0%, rgba(101,44,144,1) 100%);
background: linear-gradient(45deg, rgba(19,152,240,1) 0%, rgba(101,44,144,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1398f0', endColorstr='#652c90', GradientType=1 );}
.cont{float:left;width:100%;margin-top:5%;margin-bottom:5%;}
#txt_time{margin-left:5%;color:white;text-align:center;width:90%;}
#contato{float:left;width:100%;background-color:white;}
#contato #formulario{float:left;width:45%;margin-right:5%;}
input[type=text], textarea{float:left;width:96%;border:1px solid #652C90;padding:2%;border-radius:5px;margin-bottom:5%;}
input[type=submit]{cursor:pointer;float:left;width:96%;border:1px solid #652C90;padding:3% 2% 3% 2%;border-radius:5px;margin-bottom:5%;color:#652C90;background:white;transition:background 0.5s, color 0.5s;}
input[type=submit]:hover{background:#652C90;color:white;}
textarea{resize:none;height:200px;}
input,textarea{font-size:1em;}
input:focus,textarea:focus{outline:none;border:2px solid #652C90;margin-left:-1px;margin-top:-1px;}
#contato #right_contato{float:right;width:45%;padding-left:10%;border-left:1px solid #652C90;}
#contato #right_contato #mapa{width:100%;}
#contato #right_contato #mapa iframe{width:100%;box-shadow:0px 0px 4px #666666;}
#contato #right_contato #redes_sociais .person_rede{float:left;margin-bottom:10%;}
.name_rede{float:left;padding-right:64px;border-bottom:2px solid #652C90;line-height:2em;}
#contato #right_contato #redes_sociais .person_rede .rede{float:left;width:95%;margin-left:5%;margin-top:5%;}
#contato #right_contato #redes_sociais .person_rede .rede .img_rede{float:left;width:30px;height:30px;margin-right:2%;}
#contato #right_contato #redes_sociais .person_rede .rede .img_rede img{width:30px;}
footer{float:left;width:100%;background-color:black;color:white;}
#rodape{margin:0px auto;width:1144px;margin-top:2%;}
#rodape ul{float:left;width:95%;margin:0px;margin-top:3%;margin-left:0%;padding:0px;}
#rodape ul li{list-style:none;margin:2%;margin-left:0%;color:#666666;}
#rodape ul li a:hover{color:white;}
#rodape #menu_user{float:left;width:33%;}
#rodape #menu_emp{float:left;width:33%;}
#rodape #facebook{float:left;width:33%;}
#rodape #facebook #face{float:left;width:95%;margin-left:0%;margin-top:5%;}
#rodape #social{float:left;clear:both;}
#rodape #social .social_topo{margin:13px;float:left;height:34px;width:34px;border:1px solid #652C90;border-radius:50%;}
#rodape #social .social_topo:hover{background-color:#652C90;}
#rodape #social .social_topo img{height:24px;margin:4px;}
#rodape #copyright{float:left;width:100%;text-align:center;margin-top:2%;margin-bottom:2%;}

#fundo{display:none;position:absolute;width:100%;height:100%;background-color:black;opacity:0;transition:opacity 0.5s;}
#popup{display:none;position:absolute;width:50%;left:25%;background-color:white;padding:2%;border-radius:10px;box-shadow:0px 2px 4px #666666;transform:scale(0);transition:transform 0.5s;}
.cancel{cursor:pointer;position:absolute;right:16px;top:16px;width:36px;}
.cancel img{width:36px;}
#popup #title_popup{font-size:1.5em;text-align:center;width:80%;margin-left:10%;margin-bottom:5%;}
#popup input[type=text]{width:40%;padding:1%;margin-bottom:0%;margin-right:2%;}
#popup input[type=submit]{width:15%;padding:1%;margin-bottom:0%;}
#popup input[type=submit]:hover{background:#652C90;color:white;}
#erro_nome_popup{float:left;clear:both;color:red;margin-top:1%;width:40%;margin-bottom:0%;margin-right:2%;}
#erro_email_popup{float:left;color:red;margin-top:1%;width:40%;margin-bottom:0%;margin-right:2%;}

#bottom{display:none;position:fixed;width:100%;bottom:-15%;background-color:white;padding:1%;box-shadow:0px 0px 8px #666666;border-top:2px solid #652C90;transition:bottom 0.5s;}
#content_bottom{width:1144px;margin:0 auto;}
#bottom #title_bottom{font-size:1em;width:99%;margin-left:1%;margin-bottom:1%;}
#bottom input[type=text]{width:40%;padding:0.5%;margin-bottom:0%;margin-right:1%;}
#bottom input[type=submit]{width:15%;padding:0.5%;margin-bottom:0%;}
#bottom input[type=submit]:hover{background:#652C90;color:white;}
#erro_nome_bottom{float:left;clear:both;color:red;margin-top:1%;width:40%;margin-bottom:0%;margin-right:1%;}
#erro_email_bottom{float:left;color:red;margin-top:1%;width:40%;margin-bottom:0%;margin-right:1%;}

#erro_nome_form{float:left;color:red;margin-top:-5%;margin-bottom:2%;}
#erro_email_form{float:left;color:red;margin-top:-5%;margin-bottom:2%;}
#erro_assunto_form{float:left;color:red;margin-top:-5%;margin-bottom:2%;}
#erro_msg_form{float:left;color:red;margin-top:-5%;margin-bottom:2%;}

#person1{background:red;}
#person1:hover{background:orange;}
#person2{background:blue;}
#person2:hover{background:green;}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
